.btn {
  &.disabled,
  &:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
.no-data {
  display: none;
  text-align: center;
}
.table {
  border-left: none;
  border-right: none;
}
